<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/Logo2.png" alt="">
    </ion-card-header>
  
    <ion-card-content>
    <swiper #swiper>
      <ng-template swiperSlide><img src="assets/img/A4.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T1.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T2.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T3.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T4.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T5.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T6.jpg" alt=""></ng-template>
      <ng-template swiperSlide><img src="assets/img/T7.jpg" alt=""></ng-template>
    
    </swiper>
    </ion-card-content>
  </ion-card>

</ion-content>
