<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title color="danger">Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <img  src="assets/img/Logo2.png" alt="">    
  <ion-item >      
    Pretty Little Liars (Pequeñas mentirosas en España y Lindas mentirosas en Hispanoamérica) es una serie de televisión de
    drama adolescente y misterio desarrollada por I. Marlene King que se basa libremente en la novela homónima de Sara
    Shepard. La serie sigue la vida de cuatro chicas y muy amigas de secundaria cuya amistad se desmorona después de la
    desaparición de su líder. Un año después, las amigas separadas se reúnen cuando comienzan a recibir mensajes de una
    misteriosa figura llamada «A» que amenaza con exponer sus secretos más personales.
    
    La serie se estrenó el 8 de junio de 2010 en ABC Family y terminó el 27 de junio de 2017 contando con 7 temporadas. Después de un pedido inicial
    de 10 episodios, se ordenaron 12 episodios adicionales el 28 de junio de 2010. El éxito en la audiencia de los primeros
    15 episodios llevó a que la saga de libros se extendiese más allá de las 11 novelas iniciales.
  </ion-item>
  <br>
  <br>
   
  <ion-title color="danger"> Creadora </ion-title>
  <br> 
  <img src="assets/img/Marlen.jpg" alt="">
  <ion-item>
    Ina Marlene King es escritora, productora y directora. Es mejor conocida como productora ejecutiva y showrunner de la
    serie de drama adolescente Freeform Pretty Little Liars, basada en la serie de libros del mismo nombre de Sara Shepard.
  </ion-item>
  
</ion-list>
</ion-content>
