<ion-header>
  <ion-toolbar>
    <ion-title color="danger">Momentos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">El primer mensaje de A </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
<iframe width="100%" height="200" src="https://www.youtube.com/embed/USJueBydHx0"
  title="Las chicas reciben un mensaje de -A - Pretty little liars" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
      Esta es la primera escena en donde A se dio a conocer enviandole un mensaje a las chicas.
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title color="danger">Mona es revelada como A</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/JIoetdNST2M"
      title="Lindas Mentirosas 2x25: Mona es revelada como A" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
      En esta escena se descubre que Mona simpre ha sido A y es quien ha estado detras de todo lo que estaba pasando a las chicas.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title color="danger">Alison esta viva!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/1m2nYepxg-s"
      title="PLL Alison esta VIVA! subtitulos en español" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    En esta se escena descubrimos que la abeja reina del grupo en realidad esta viva.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title color="danger">Escena final</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/xZJwm3pfwPg"
      title="Pretty Little Liars - The Liars' Final Scene - 7x20  Til DeAth Do Us Part" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    Esta es la ultima escena de la serie, en donde las chicas se despiden y cuentan que ha sido de sus vidas y que planes tienen a futuro.
  </ion-card-content>
</ion-card>



</ion-content>
